<script type="text/javascript">

    var my_lat, my_lon, geocoder, location1, location2, map, my_location;

//여기서부터는 내위치찾는거
function initialize() {

  geocoder = new GClientGeocoder();

  var mapOptions = {
    zoom: 15,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  // Try HTML5 geolocation 여기에서 position.coords.latitude 이게 의심스러움ㅋㅋ
  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {

        my_lat = position.coords.latitude;
       my_lon = position.coords.longitude;
      
        var pos = new google.maps.LatLng(position.coords.latitude,
                                       position.coords.longitude);

      var infowindow = new google.maps.InfoWindow({
        

        map: map,
        position: pos,
        content: '당신의 위치입니다.'
      });

      map.setCenter(pos);
    }, function() {
      handleNoGeolocation(true);
    });
  } else {
    // Browser doesn't support Geolocation
    handleNoGeolocation(false);
  }
}

function handleNoGeolocation(errorFlag) {
  if (errorFlag) {
    var content = 'GPS기능을 사용할 수 없습니다.(당신의 기기에 GPS가 없을 수도 있음ㅋㅋ)';
  } else {
    var content = '당신의 브라우저가 GPS를 활용할 수 없는 브라우저입니다.';
  }

  var options = {
    map: map,
    position: new google.maps.LatLng(60, 105),
    content: content
  };

  var infowindow = new google.maps.InfoWindow(options);
  map.setCenter(options.position);
}

google.maps.event.addDomListener(window, 'load', initialize);




//이밑에꺼는 거리계산하는거

    function showLocation() {

        geocoder.getLocations(document.forms[0].address1.value, function (response) {
            if (!response || response.Status.code != 200)
            {
                alert("Sorry, we were unable to geocode the first address");
            }
            else
            {
                location1 = {lat: response.Placemark[0].Point.coordinates[1], lon: response.Placemark[0].Point.coordinates[0], address: response.Placemark[0].address};
             calculateDistance(); 
               // geocoder.getLocations(document.forms[0].address2.value, function (response) {
                   // if (!response || response.Status.code != 200)
                   // {
                     //   alert("Sorry, we were unable to geocode the second address");
                   // }
                   // else
                   // {
                    //    location2 = {lat: response.Placemark[0].Point.coordinates[1], lon: response.Placemark[0].Point.coordinates[0], address: response.Placemark[0].address};
    //                    calculateDistance();
                   // }
              //  });
                
            }
        });
    }


    function goal(){

      calculateDistance();
        

    }

    function arrive(){
      
      try
        {
            var glatlng1 = new GLatLng(37.4592602, 126.953321);
            var glatlng2 = new GLatLng(my_lat, my_lon);
            var miledistance = glatlng1.distanceFrom(glatlng2, 3959).toFixed(1);
            var kmdistance = (miledistance * 1.609344).toFixed(1);
 
  if(kmdistance < 0.3) {
    location.href = "/yellow/lucky2/";
  }
  else { 
        alert("아직 도착하지 못했네요ㅠㅠ지도상에서 당신의 위치를 다시한번 확인해 보시겠어요?");
  }
            
            /*
            document.getElementById('results').innerHTML = '<br /><strong>당신이 있는 곳부터의 거리: </strong>' + kmdistance + ' (km)';
  */
            
            }

        catch (error)
        {
            alert(error);
        }

    }



    function calculateDistance()
    {
        try
        {
            var glatlng1 = new GLatLng(37.4592602, 126.953321);
            var glatlng2 = new GLatLng(my_lat, my_lon);
            var miledistance = glatlng1.distanceFrom(glatlng2, 3959).toFixed(1);
            var kmdistance = (miledistance * 1.609344).toFixed(1);

            document.getElementById('results').innerHTML = '<br /><strong>당신이 있는 곳부터의 거리: </strong>' + kmdistance + ' (km)';
        }
        catch (error)
        {
            alert(error);
        }
    }

    </script>
<img src= "<%= asset_path("second.jpg")%>" class="lucky"/>

<div class = "whitebox">
<div class="main">
<br>
<h1>첫번째 기억의 조각을 얻었다!</h1>
<img src= "<%= asset_path("1_1.jpg")%>" class="pic1"/>
<img src= "<%= asset_path("1_2.jpg")%>" class="pic1"/>
<img src= "<%= asset_path("1_3.jpg")%>" class="pic1"/>
<img src= "<%= asset_path("1_4.jpg")%>" class="pic1"/>



<p>이제 어떻게 하는 지 약간 감이 잡혔지? 내 이름은 황룡, 첫 번째 용이었다. 다음 용이 있는 장소는 뇽이가 <strong>첫키스를 한 곳</strong>이라고 하는군... 자네도 어딘지 알겠지? 얼른 가봐!</p>
<br>
</div>
</div>
<div id= "map-canvas"></div>
<div class ="whitebox">
<br>
<form style="margin-left:10px;" action="#" onsubmit="goal(); return false;">
      <p>
<!--<input type="text" name="address1" value="" class="address_input" size="40" />-->
        <input type="submit" name="find" value="다음 장소는 여기에서 얼마나 떨어져 있나요?" />
      </p>
    </form>
    
    <p id="results"></p>


    <form style = "margin-left : 10px;" action = "#" onsubmit="arrive(); return false;">
    <p>
    <input type = "submit" name = "find" value = "도착했어요." />
    </p>
    </form>

<br>

    </div>
    </br>
<!--
    <br>
<a href = "/yellow/lucky" style = "text-decoration:none;">
<div class ="button">
  
<p style= "
text-decoration:none;
font-size:15px; font-weight:bold; color:#2377bb;">도착했으면 누르세요.</p>
</div>
</a>
-->
